@import '@rainbow-me/rainbowkit/styles.css';
@import "tailwindcss";

/* RainbowKit custom styles */
[data-rk] {
  --rk-radii-modal: 16px;
  --rk-radii-actionButton: 12px;
  --rk-radii-connectButton: 12px;
  --rk-radii-menuButton: 12px;
}
